@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index"
            asp-area="Identity" 
            asp-route-locale="@ViewContext.RouteData.Values["locale"]"
            asp-route-tenant="@ViewContext.RouteData.Values["tenant"]">
            @Localizer["Profile"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" 
            asp-page="./ChangePassword"
            asp-area="Identity" 
            asp-route-locale="@ViewContext.RouteData.Values["locale"]"
            asp-route-tenant="@ViewContext.RouteData.Values["tenant"]">
            @Localizer["Password"]
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins"
            asp-area="Identity" 
            asp-route-locale="@ViewContext.RouteData.Values["locale"]"
            asp-route-tenant="@ViewContext.RouteData.Values["tenant"]">
                @Localizer["ExternalLogins"]
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication"
            asp-area="Identity" 
            asp-route-locale="@ViewContext.RouteData.Values["locale"]"
            asp-route-tenant="@ViewContext.RouteData.Values["tenant"]">
            @Localizer["2FAuth"]
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData"
            asp-area="Identity" 
            asp-route-locale="@ViewContext.RouteData.Values["locale"]"
            asp-route-tenant="@ViewContext.RouteData.Values["tenant"]">
            @Localizer["PersonalData"]
        </a>
    </li>
</ul>
