@page "~/{locale=en-us}/{tenant}/account/manage/disable2fa"
@inject IViewLocalizer Localizer
@model Disable2faModel
@{
    ViewData["Title"] = Localizer["Disable2faTitle"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h1>@ViewData["Title"]</h1>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["ActionDisables2fa"]</strong>
    </p>
    <p>
        @Localizer["Disable2faDesc"]
        <a asp-page="./ResetAuthenticator"
            asp-area="Identity" 
            asp-route-locale="@ViewContext.RouteData.Values["locale"]"
            asp-route-tenant="@ViewContext.RouteData.Values["tenant"]">@Localizer["ResetAuthenticatorKeys"]</a>
</p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Localizer["Disable2FAButton"]</button>
</form>
</div>
