@page "~/{locale=en-us}/{tenant}/account/manage/generaterecoverycodes"
@inject IViewLocalizer Localizer
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = Localizer["GenerateRecoveryCodesTitle"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["KeepSafe"]</strong>
    </p>
    <p>
        @Localizer["LoseAccessLostDevice"]
    </p>
    <p>
        @Localizer["GeneratingNewCodes"] <a asp-page="./ResetAuthenticator">@Localizer["GeneratingNewCodes_2"]</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Localizer["GenerateRecoveryCodesButton"]</button>
    </form>
</div>