@page "~/{locale=en-us}/{tenant}/account/manage/twofactorauthentication"
@inject IViewLocalizer Localizer
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = Localizer["Title2fa"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>@Localizer["NoCodesLeft"]</strong>
            <p>@Localizer["YouMust_1"] <a asp-page="./GenerateRecoveryCodes">@Localizer["YouMust_2"]</a> @Localizer["YouMust_3"]</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>@Localizer["OneCodeLeft"]</strong>
            <p>@Localizer["YouCan_1"] <a asp-page="./GenerateRecoveryCodes">@Localizer["YouCan_2"]</a>@Localizer["YouCan_3"]</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>@string.Format(Localizer["YouHaveXCodesLeft"].Value,Model.RecoveryCodesLeft)</strong>
            <p>@Localizer["YouShould_1"] <a asp-page="./GenerateRecoveryCodes">@Localizer["YouShould_2"]</a>@Localizer["YouShould_3"]</p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-primary">@Localizer["ForgetThisBrowser"]</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-primary">@Localizer["Disable2FA"]</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">@Localizer["ResetRecoveryCcodes"]</a>
}

<h5>@Localizer["AuthenticatorApp"]</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["AddAuthenticatorApp"]</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-primary">@Localizer["SetupAuthenticatorApp"]</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-primary">@Localizer["ResetAuthenticatorApp"]</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}