@page "~/{locale=en-us}/{tenant}/account/loginwith2fa"
@inject IViewLocalizer Localizer
@model LoginWith2faModel
@{
    ViewData["Title"] = Localizer["TwoFactorAuthentication"];
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>@Localizer["LoginNeeds2FA"]</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">@Localizer["LogIn"]</button>
            </div>
        </form>
    </div>
</div>
<p>
    @Localizer["DontHaveAccessToDevice"]
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl"
        asp-area="Identity" 
        asp-route-locale="@ViewContext.RouteData.Values["locale"]"
        asp-route-tenant="@ViewContext.RouteData.Values["tenant"]">@Localizer["UseRecoveryCode"]</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
