@page "~/{locale=en-us}/{tenant}/account/resetpasswordconfirmation"
@inject IViewLocalizer Localizer
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["ResetPasswordConfirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["PasswordReset"] <a asp-page="./Login"
        asp-area="Identity" 
        asp-route-locale="@ViewContext.RouteData.Values["locale"]"
        asp-route-tenant="@ViewContext.RouteData.Values["tenant"]">@Localizer["LoginLinkText"]</a>.
</p>
